.todo-container {
  max-width: 430px;
  margin: 0 auto;
  margin-top: 4rem;
  background-color: #fff;
  padding: 20px;
  height: 500px;
  border-radius: 5px;
}
.todo-title {
  text-align: center;
  margin-top: 24px;
  letter-spacing: 1.2px;
}
.btn {
  padding: 8px 27px;
  background-color: #9370db;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 15px;
  transform: all 0.45s ease-in-out;
  height: 42px;
  width: 20%;
  align-self: center;
}
.btn:hover {
  background-color: #7d55cc;
}
form {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
